body, html {
    margin:auto;
    background:#eeeeee;
}

div {
    position: relative;
    width:100%;
}

#containerTable{
    width: 1000px;
    margin:auto;
}

table {
    vertical-align:top;
    font-size:40px;
    border-spacing: 0px;
    width:100%;
}

caption {
    color: #ffffff;
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#a3a3a3),
        color-stop(0.50, #3b3b3b),
        color-stop(0.70, #242424),
      	to(#000000));
}

td {
    width:200px;
    border:0px solid purple;
    vertical-align:top;
}

button {
    font-size:1em;
    margin: 2px;
    width:100%;
    height:60px;
    display:inline;
	border-radius: 2px;
	border: 5px solid white;
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        color-stop(0.50, #ebebeb),
        color-stop(0.50, #dbdbdb),
        to(#524c52));
}

button.undefined, input + label:before, input + label:after{
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        color-stop(0.50, #ffffff),
        to(#a5a5a5));
}

button.select{
    font-size:2em;
    height:120px;
    border-radius: 26px;
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,1);
}

button.unmatched, #unmatchedLabel{
    background:#eeeeee;
    color: silver;
}

button.wrongResult{
    color: #242424;
    border:6px dashed white;
    margin: 2px;
    background:red;
}

button.matchResult{
    border:6px dashed white;
    margin: 2px;
    color: white;
    background: #333333;
}

button.guessed{
    border:6px dashed white;
    margin: 6px;
    color: white;
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#a3a3a3),
        color-stop(0.50, #3b3b3b),
        color-stop(0.70, #242424),
        to(#000000));
}

button.result {
	color: #242424;
	background: silver;
    border:6px dashed white;
    margin: 2px;
}

input {
  position: absolute;
  visibility: hidden;
}

input + label{
  position: relative;
  display:block;
  text-align: center;
  width:80%;
  height: 60px;
  margin: 10px 0px 10px 20px;
}

input + label:before, input + label:after {
    position: absolute;
    top: 0px;
    left:0px;
    bottom: 0px;
    right: 0px;
    content: attr(data-on);
    transition: transform 0.5s;
    border: 1px solid silver;
    border-radius: 26px;
}

input:checked + label:after {
    border: 3px solid green;
    transform: scale(1.2);
    box-shadow:
        0px 2px 30px rgba(000,000,000,1),
        inset 0px 0px 0px rgba(255,255,255,0.7);
}

button.matchCow, input.matchCow + label:before,input.matchCow + label:after {
    color: #ffffff;
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#cdcdcd),
		color-stop(0.50, #5c5c5c),
		to(#878787));
    text-shadow: 0px 1px 1px black;
    border-radius: 26px;
}

button.matchBull, input.matchBull + label:before,input.matchBull + label:after{
    color: #ffffff;
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#a3a3a3),
        color-stop(0.50, #3b3b3b),
        color-stop(0.70, #242424),
        to(#000000));
    border-radius: 2px;
}

input.unmatched + label{display:none;}

#login {
    display:none;
    font-size: 6em;
    width:100%;
    margin: 100px 0px;
}

#loginButton, #play, #login {
    position: relative;
    text-align:center;
}

#bullTable{
    width: 800px;
    border: 1px silver solid;
}

#guessTable{
margin-bottom:30px;
}

#save, #load{
margin-bottom:20px;
border-radius: 26px;
}

#reset{
    height:60px;
    margin-top:10px;
}

#filterLabel{
height:60px;}

#unmatchedLabel{
    display:block;
}